*{margin: 0;padding: 0; letter-spacing: -0.05em;word-spacing: -0.05em;}
html{font-size: 10px; overflow-x: hidden; font-family:'Malgun gothic', '맑은고딕', sans-serif; color:#000; letter-spacing: -0.01rem;}
body{font-family:'Malgun gothic', '맑은고딕', sans-serif;color:#000;font-size: 1.6rem;}
img{border:0;}
a{text-decoration: none; color:#000;}
a:visited, a:hover ,a:focus,a:link {text-decoration: none;color:#000;}
ul,ol,li{list-style: none;}
.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.oh{overflow: hidden;}
.cf::after{content: ''; display: block; clear: both;}
.cAlign{display: flex; vertical-align: middle; align-items: center;}
.rL {position: relative;}
.blind{width: 1px; height: 1px; border: 0; margin: -1px; padding: 0; overflow: hidden; position: absolute;}
.hide{display: none;}
.show{display: block;}
button{cursor: pointer;}




@font-face{
    font-family: 'Malgun Gothic';
    src: url(../font/MalgunGothic.eot);
    src: url(../font/MalgunGothic.ttf) format('truetype'),url(../font/MalgunGothic.eot) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Malgun Gothic';
    src: url(../font/MalgunGothic.eot);
    src: url(../font/MalgunGothicBold.ttf) format('truetype'),url(../font/MalgunGothic.eot) format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}
